#loading {
	z-index: 1;
	position: fixed;
	left: calc(50vw - 17.5vmin);
	top: calc(50vh - 17.5vmin);
	display: inline-grid;
	width: 35vmin;
	aspect-ratio: 1;
	overflow: hidden;
	clip-path: circle(50% at 50% 50%);
	background: url("../../assets/moon.svg");
	animation: moon 2s ease-in-out infinite;
}

#loading:before {
	content: "";
	background: url("../../assets/arrow.svg");
	/*background: white;*/
	animation: arrow 2s ease-in-out infinite;
	translate: 0px 0px;
}

@keyframes arrow {
	50% { translate: 100% -75.3548304488%; }
	50.01% { translate: 100% -100%; }
	50.02% { translate: -100% -100%; }
	50.03% { translate: -100% 75.3548304488%; }
	100% { translate: 0px 0px; }
}

@keyframes moon {
	35% {
		scale: 110%;
		translate: 5% -5%;
	}
}
