#minimap {
	width: 320px;
	height: 360px;
	background-color: #121213;
	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
	transition: none;
	border-radius: 1.5vh;
	overflow: hidden;
	border: 1px solid #cc1444;
}

#minimap.collapsed {
	height: 40px;
}

#minimaptab {
	width: 320px;
	height: 40px;
	background-color: #19191b;
	background-image: url("../../assets/dots.svg");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 288px 8px;
}

#minimapcanvas {
	width: 320px;
	height: 320px;
}
