.overlay {
	background-color: #000000aa;
	margin: 0px;
	border-radius: 4vh;
	border: 1px solid #cc1444;
	position: fixed;
	text-align: center;
	color: #cc1444;
	padding: 2vh;
	max-width: 50%;
	top: 2vh;
	user-select: none;
}

#overlaytextleft {
	left: 2vh;
}

#overlaytextright {
	right: 2vh;
}

#help {
	left: 2vh;
	transition-duration: 1s;
	font-size: 3vh;
	border-radius: 1.5vh;
	padding: 1vh;
}

.hidehelp {
	translate: 0px -24vh; 
	opacity: 0;
}
