* {
	transition-duration: 0.25s;
	color: white;
	font-size: 2vh;
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
}

#canvas {
	position: fixed;
	z-index: 0;
	transition: none;
}

#canvasdiv {
	width: 100%;
	height: 100%;
}

#canvasdiv.small {
	height: 65%;
}

.hidden {
	display: none;
}
